<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Orders</title>

    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
<!-- Sidebar -->
<div class="admin-sidebar">
    <h2>Admin Dashboard</h2>
    <ul>
        <li><a href="{{ url_for('admin.admin_orders') }}">Orders</a></li>
        <li><a href="{{ url_for('admin.admin_users') }}">Users</a></li>
        <li class="active"><a href="{{ url_for('admin.admin_products') }}">Products</a></li>
        <!-- Add more menu items as needed -->
    </ul>
</div>

<!-- Page content -->
<div class="admin-content">
    <header class="admin-header">
        <h1>Welcome, Admin!</h1>
        <a href="#">Logout</a>
    </header>

    <!-- Main content area -->
    <div class="admin-main-content">
        <h2>Orders</h2>

        {% if orders %}
            <table>
                <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer Login</th>
                    <th>Address</th>
                    <th>Total Price</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order[0] }}</td>
                        <td>{{ order[1] }}</td>
                        <td>{{ order[2] }}</td>
                        <td>{{ order[3] }}</td>
                        <td>{{ order[4] }}</td>
                        <td>
                            <button class="order-button" onclick="order_info('{{ order[0] }}')">Change order info
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        {% else %}
            <p>No orders found.</p>
        {% endif %}
    </div>
</div>
<script>
    function order_info(OrderId) {
        window.location.href = '/admin/orders/' + OrderId
    }

</script>

</body>
</html>
