<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="items-container">
    <h1>Your Cart</h1>
    {% if current_user and cart %}
        {% for cart_item in cart %}
            <div class="item">
                {% set item_id = cart_item.item_id %}
                {% set item = db.session.query(Item).filter_by(id=item_id).first() %}
                <h3>User name: {{ cart_item.user_login }}</h3>
                <p>Quantity: {{ cart_item.quantity }}</p>
                <p>Item name: {{ item.name }}</p>
                <p>Item description: {{ item.description }}</p>
                <p>Price: ${{ item.price }}</p>
                <div class="item-buttons">
                    <form method="POST" action="/shop/cart/delete">
                        <input type="hidden" name="id" value="{{ item.id }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="delete-button">Delete Item</button>
                    </form>
                    <form method="POST" action="/shop/cart/">
                        <input type="hidden" name="id" value="{{ item.id }}">
                        <button class="add-button">Add more items</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>Your cart is empty</h3>
    {% endif %}
    <div class="login-logout">
        <button class="back-button" onclick="navigateToOrder()">Order</button>
    </div>
    <div class="login-logout">
        <button class="back-button" onclick="navigateToItems()">Back to Items</button>
    </div>
</div>

<script>
    function navigateToItems() {
        window.location.href = "/shop/items";
    }

    function navigateToOrder() {
        window.location.href = "/shop/cart/order"
    }
</script>
</body>
</html>
