<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Order Information</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
<div class="admin-sidebar">
    <h2>Admin Dashboard</h2>
    <ul>
        <li><a href="/admin/orders">Orders</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/items">Products</a></li>
    </ul>
</div>
<div class="admin-content item_update_page">
    <header class="admin-header">
        <h1>Edit item</h1>
        <a href="#">Logout</a>
    </header>

    <div class="admin-main-content">
        {% for item in items %}
            <form class="item-update-form" method="POST" action="{{ url_for('admin.admin_products_update', item_id=item[0]) }}">
                <input type="hidden" name="_method" value="PUT">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="{{ item[1] }}" required>
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" value="{{ item[2] }}" required>
                <label for="status">Status:</label>
                <input type="text" id="status" name="status" value="{{ item[3] }}" required>
                <label for="category">Category:</label>
                <input type="text" id="category" name="category" value="{{ item[4] }}" required>
                <label for="price">Price</label>
                <input type="text" id="price" name="price" value="{{ item[5] }}" required>
                <button type="submit">Update Item</button>
            </form>
        {% endfor %}
    </div>
</div>

</body>
</html>
