<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compare Items</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="compare-container">
    <h1>Compare Items</h1>

    {% if login %}
        <table>
            <thead>
            <tr>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Description</th>
                <th>Price</th>
                <!-- Add more columns as needed -->
            </tr>
            </thead>
            <tbody>
            {% for compare_item in compare %}
                <tr>
                    {% set item_id = compare_item.item_id %}
                    {% set item_to_compare = compare_item.item_to_compare %}
                    {% set item = db.session.query(Item).filter_by(id=item_id).first() %}
                    {% set item_to_compare = db.session.query(Item).filter_by(id=item_to_compare).first() %}
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>${{ item.price }}</td>
                </tr>
                <tr>
                    <td>{{ item_to_compare.id }}</td>
                    <td>{{ item_to_compare.name }}</td>
                    <td>{{ item_to_compare.description }}</td>
                    <td>${{ item_to_compare.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No items to compare</h3>
    {% endif %}

    <div class="login-logout">
        <button class="back-button" onclick="navigateToItems()">Back to Items</button>
    </div>
</div>

<script>
    function navigateToItems() {
        window.location.href = "/shop/items";
    }
</script>
</body>
</html>
