<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Wait list</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="favorites-container">
    <h1>Your Wait list</h1>
    {% if current_user %}
        <p>Hello, {{ current_user }}!</p>
        {% if user_waitlist %}
            <div class="favorites-list">
                {% for item in user_waitlist %}
                    <div class="favorite-item">
                        {% set item_id = item.item_id %}
                        {% set item = db.session.query(Item).filter_by(id=item_id).first() %}
                        <h3>Item Name: {{ item.name }}</h3>
                        <p>Description: {{ item.description }}</p>
                        <p>Price: ${{ item.price }}</p>
                        <p>Status: {{ item.status }}</p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Your Wait list is empty.</p>
        {% endif %}
    {% else %}
        <p>Please log in to view your wait list.</p>
    {% endif %}

    <div class="login-logout">
        <button class="back-button" onclick="navigateToItems()">Back to Items</button>
    </div>
</div>

<script>
    function navigateToItems() {
        window.location.href = "/shop/items";
    }
</script>
</body>
</html>
